* {
  box-sizing: border-box;
}

.box {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #c23c23;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  padding: 20px;
  border: 1px solid white;
  background-color: yellowgreen;
}

.item-2 {
  width: 350px;
}

.item-3 {
  width: 200px;
}
