.emojibox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #234322;

  align-items: center;
}

.title {
  font-size: 22px;
  color: #fff;
}

.desc {
  color: wheat;
  font-size: 18px;
}
