* {
  box-sizing: border-box;
}

.box {
  width: 80px;
  height: 80px;
  background-color: darkkhaki;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  transform: translateX(100px) rotate(90deg);
}

.box-3 {
  transform: translateY(100px) rotate(180deg);
}

.box-4 {
  transform: translate(100px, 100px) rotate(270deg);
}
